*{
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: linen;
    color: black;
}
#header{
    width: 100%;
    height: 100%;
    background-color:linen;
    background-size: cover;
    background-position: center;
}
.container
{
     padding: 10px 10px;
}
.navbar{
    width: 100%;
    top: 0%;
    position: relative;
    padding: 10px;
    display: inline-block;
    position: fixed;
    backdrop-filter: blur(10px);
}
.navbar ul li{
    display: inline-block;
    list-style: none;
    float: right;
    padding: 30px;
}
.navbar ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
}
.header{
    margin: 10%;
    font-size: 50px;
}
.header h1{
    margin-top: 10px;
    font-size: 80px;
}
.header h1 span{
    color: #ff004f;
}
/*---------------about------------*/
#about{
    color: black;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between ;
}
.about-col-1{
    flex-basis: 1%;
}
.about-col-1 img{
    width: 400px;
    border-radius: 16px;
}
.about-col-2{
    flex-basis: 60%;
}
.about-col-2 p{
    margin: 10px;
}
.title{
    font-weight: 500;
    color: black;
    font-size: 45px;
}
p{
    font-size: 20px;
}
.tab-titles{
    display: flex;
    margin: 20px 0 4px;
    font-weight: bold;
    font-size: larger;
}
.tab-titles p{
    font-weight: bold;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    float: left;
}
.tab-links::after{
    content : '';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: larger;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*------Achievements------*/
#Achievements{
    color: black;
    padding: 20px 0;
}
.list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.list div{
    background: pink;
    padding: 40px;
    font-size: 20px;
    font-weight: 300;
    border-right: 10px;
    border-radius: 20px;
}
/*-------extracurricular---------*/
#ex{
    padding: 50px 0;;
}
.extra{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 50px;
}
.allindia img{
    width: 400px;
    height: 300px;
    display: block;
    border-radius: 10px;
    transition: transform 0.5s;
}
.text{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    border: 10px;
    padding: 20px;
}
.text p{
    font-size: 25px;
}
.allindia img:hover {
    transform: scale(1.1);
}
/*-------contact-----*/
#contact
{
    text-align: start;
    margin-left: 30%;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 20px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    font-display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background-color: #ff004f;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
}
.contact-left p{
    margin: 10px;
}
/* ------------------------css for small screen-------- */

/* nav .fas{
    display: none;
}
@media only screen and (max-width: 600px){
.header{
    margin-top: 100%;
    font-size: 16px; 
}
.header h1{
    font-size: 30px;
    
}
.navbar .fas{
    display: block;
    font-size: 25px;
}
.navbar ul{
    background-color: #ff004f;
    position: fixed;
    top: 0%;
    right: 0%;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
}
.navbar ul li{
    display: block;
    margin: 25px;
}
.navbar ul .fas{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}
} */